<template>
  <div class="insured-child">
    <h2>Данные  {{ csn | serialNumber }}  ребенка</h2>
    <div class="label_block">
      <input type="text" class="white_input required _fname" placeholder="Фамилия" :name="'inssurname_' + sn + '_child_' + csn" v-model="child.lastname" @keyup="changeLatLastname()"> 
    </div>  

    <div class="label_block"> 
      <input type="text" class="white_input required _name" placeholder="Имя" :name="'insname_' + sn + '_child_' + csn" v-model="child.name" @keyup="changeLatName()"> 
    </div> 

    <div class="label_block"> 
      <input type="text" class="white_input required _pname" placeholder="Отчество" :name="'inspatronymic_' + sn + '_child_' + csn" v-model="child.patronymic"> 
    </div> 

    <div class="label_block"> 
      <input type="text" class="white_input required _fnamelat" placeholder="Фамилия на латинице" :name="'inslastnamelat' + (csn+1)" v-model="child.lastname_lat"> 
    </div>  

    <div class="label_block"> 
      <input type="text" class="white_input required _namelat" placeholder="Имя на латинице" :name="'insfirstnamelat' + (csn+1)" v-model="child.name_lat">
    </div> 

    <div class="label_block"> 
      <input type="text" class="date white_input required _bd" placeholder="Дата рождения" :name="'insbirthday_' + sn + '_child_' + csn" autocomplete="off" v-model="child.birthday"> 
    </div> 

    <h3>Адрес регистрации</h3> 

    <div class="hidden">
      <div class="label_block">
        <input type="text" class="white_input" placeholder="Регион" :name=" 'insregion_' + sn + '_child_' + csn" autocomplete="off" v-model="child.address_region">
      </div>

      <div class="label_block">
        <input type="text" class="white_input" placeholder="Район" :name=" 'inscodekladr_raion' + (csn+1)" autocomplete="off" v-model="child.address_district">
      </div>

      <div class="label_block">
        <input type="text" class="white_input" placeholder="Город" :name=" 'insnp_' + sn + '_child_'  + csn" v-model="child.address_city">
      </div>

      <div class="label_block">
        <input type="text" class="white_input" placeholder="Улица" :name=" 'insstreet_' + sn + '_child_' + csn" v-model="child.address_street">
      </div>

      <div class="label_block">
        <input type="text" class="white_input" placeholder="Номер дома" :name=" 'inshouse_' + sn + '_child_'  + csn" v-model="child.address_house">
      </div>

      <div class="label_block">
        <input type="text" class="white_input" placeholder="Номер квартиры (необязательно)" :name=" 'insnumb_apart' + (csn+1)" v-model="child.address_apartment">
      </div>
    </div>

    <div class="row">
      <div class="label_block label-block--textarea"> 
          <textarea style="resize: none;" class="required address white_input" :name="'insfulladress_' + sn + '_child_' + csn"  cols="30" rows="3" placeholder="Введите населенный пункт, улицу, дом (квартиру)" v-model="child.address_full"></textarea>
      </div>
    </div>

    <div class="label_block hidden label-block--textarea"> 
        <textarea style="resize: none;" class="required addresslat white_input" :name="'insfulladresslat_' + sn + '_child_' + csn" cols="30" rows="3" placeholder="Адрес регистрации" readonly="true" v-model="child.address_full_lat"></textarea> 
    </div>

    <div class="row">
      <div class="col-md-12">
        <input v-bind:id="'label' + sn + '_child_' + csn" type="checkbox" class="sport" v-model="child.sport"> <label v-bind:for="'label' + sn + '_child_' + csn">занимается спортом</label>
    <!-- <button type="button" @click="cancelAddChild(sn, csn)">Отменить</button> -->
      </div>
    </div>
    <div class="remove-icon">
      <i class="fa fa-times-circle" @click="$emit('cancel-child-addition', { parent: sn, child: csn })"></i>
    </div>

  </div>
</template>

<script>
export default {
  name: 'InsuredChild',
  props: ['child', 'csn', 'sn','dadatatoken'],
  methods: {
    cancelAddChild(sn, csn) {
      this.$emit('cancel-child-addition', { parent: sn, child: csn })
    }
  },
  data () {
    return {
    }
  },
  methods: {
    changeLatName() {
      var lat_name = this.translate(this.child.name)
      this.child.name_lat = lat_name.toUpperCase();
    },
    changeLatLastname(){
      var lastname_lat = this.translate(this.child.lastname)
      this.child.lastname_lat = lastname_lat.toUpperCase();
    },
    translate(name) {
      var transl=new Array();
      transl['А']='A';     transl['а']='a';
      transl['Б']='B';     transl['б']='b';
      transl['В']='V';     transl['в']='v';
      transl['Г']='G';     transl['г']='g';
      transl['Д']='D';     transl['д']='d';
      transl['Е']='E';     transl['е']='e';
      transl['Ё']='Yo';    transl['ё']='yo';
      transl['Ж']='Zh';    transl['ж']='zh';
      transl['З']='Z';     transl['з']='z';
      transl['И']='I';     transl['и']='i';
      transl['Й']='Y';     transl['й']='y';
      transl['К']='K';     transl['к']='k';
      transl['Л']='L';     transl['л']='l';
      transl['М']='M';     transl['м']='m';
      transl['Н']='N';     transl['н']='n';
      transl['О']='O';     transl['о']='o';
      transl['П']='P';     transl['п']='p';
      transl['Р']='R';     transl['р']='r';
      transl['С']='S';     transl['с']='s';
      transl['Т']='T';     transl['т']='t';
      transl['У']='U';     transl['у']='u';
      transl['Ф']='F';     transl['ф']='f';
      transl['Х']='Kh';    transl['х']='kh';
      transl['Ц']='Ts';    transl['ц']='ts';
      transl['Ч']='Ch';    transl['ч']='ch';
      transl['Ш']='Sh';    transl['ш']='sh';
      transl['Щ']='Sch';   transl['щ']='sch';
      transl['Ъ']="";      transl['ъ']="";
      transl['Ы']='Y';     transl['ы']='y';
      transl['Ь']='';      transl['ь']='';
      transl['Э']='E';     transl['э']='e';
      transl['Ю']='Yu';    transl['ю']='yu';
      transl['Я']='Ya';    transl['я']='ya';

      var name_lat = '';

      for(var i=0;i<name.length;i++) {
          if(transl[name[i]]!=undefined) { name_lat += transl[name[i]]; }
          else { name_lat+=name[i]; }
      }

      return name_lat;
    }
  },
  mounted() {
    $('._bd').mask('99.99.9999')

    var vm = this,
        addressSelector = 'textarea[name=insfulladress_' + this.sn + '_child_' + this.csn + ']';

    $( addressSelector ).suggestions({
      token: this.dadatatoken,
      type: "ADDRESS",
      count: 5,
      /* Вызывается, когда пользователь выбирает одну из подсказок */
      onSelect: function(suggestion) {
        vm.child.address_full      = suggestion.value.replace(/г\s/gi, 'г. ').replace(/ул\s/gi, 'ул. ').replace(/д\s/gi, 'д. ').replace(/кв\s/gi, 'кв. ')
        vm.child.address_region    = suggestion.data.region
        vm.child.address_district  = suggestion.data.area
        vm.child.address_city      = suggestion.data.city_with_type ? suggestion.data.city_with_type  : suggestion.data.settlement_with_type
        vm.child.address_street    = suggestion.data.street
        vm.child.address_house     = suggestion.data.house
        vm.child.address_apartment = suggestion.data.flat

        vm.child.postal_code       = suggestion.data.postal_code

        vm.child.address_full_lat = vm.translate( vm.child.address_full )
      }
    });

  }
}
</script>

<style>

</style>
