<template>
  <div class="insured-adult"> 
      <h2>Данные  {{ sn | serialNumber }}   застрахованного</h2>
      <div class="label_block">
        <input type="text" class="white_input required _fname" placeholder="Фамилия" :name="'inssurname_' + sn" v-bind:value="person.lastname" @input="person.lastname = normalPName($event.target.value)" @keyup="changeLatLastname()"> 
      </div>

      <div class="label_block"> 
        <input type="text" class="white_input required _name" placeholder="Имя" :name="'insname_' + sn" v-bind:value="person.name" @input="person.name = normalPName($event.target.value)" @keyup="changeLatName()"> 
      </div> 

      <div class="label_block"> 
        <input type="text" class="white_input required _pname" placeholder="Отчество" :name="'inspatronymic_' + sn" v-bind:value="person.patronymic" @input="person.patronymic = normalPName($event.target.value)"> 
      </div> 

      <div class="label_block"> 
        <input type="text" class="white_input required _fnamelat" placeholder="Фамилия на латинице" :name="'inslatin_surname_' + sn" v-model="person.lastname_lat"> 
      </div>  

      <div class="label_block"> 
        <input type="text" class="white_input required _namelat" placeholder="Имя на латинице" :name="'inslatin_name_' + sn" v-model="person.name_lat"> 
      </div> 

      <div class="label_block"> 
        <input type="text" class="date white_input required _bd" placeholder="Дата рождения" :name="'insbirthday_' + sn" autocomplete="off" v-model="person.birthday"> 
      </div> 

      <h4>Телефон</h4> 
      <div class="label_block"> 
      <input type="text" class="white_input required phone" placeholder="Введите номер телефона" :name="'insphone_' + sn" v-model="person.phone"> 
      </div> 

      <label><input type="checkbox" class="sport" v-model="person.is_citizen"> является гражданином РФ </label><br>
      <label><input type="checkbox" class="sport" v-model="person.sport"> занимается спортом</label>
      <hr>
      <div class="insured-adult__childs" v-if="person.childs">
        <InsuredChild v-for="(child, child_idx) in person.childs" :child="child" :csn="child_idx" :sn="sn" :dadatatoken="dadata_token" :key="child_idx" v-on:cancel-child-addition="cancelChildAddition"></InsuredChild>
        <!-- <button type="button" class="button button_orange button_middle_size" v-if="can_add_person" @click="addChildToAdultPerson(sn)">Добавить ребенка</button> -->
        <!-- <div style="color: red">
          Если среди застрахованных есть несовершеннолетние (до 18 лет), необходимо добавить их к застрахованному, который за них ответственнен в поездке 
        </div> -->
        <div class="remove-icon">
          <i class="fa fa-times-circle" v-if="sn != 0" @click="startEventRemovePersonFromForm()"></i>
        </div>
      </div>
  </div> 
</template>

<script>
import InsuredChild from './InsuredChild'

export default {
  name: 'InsuredAdult',
  components: {
    InsuredChild: InsuredChild 
  },
  props: ['person', 'sn', 'dadata_token', 'can_add_person'],
  data () {
    return {
      
    }
  },
  methods: {
    startEventRemovePersonFromForm(){
      this.$emit('remove-person-from-form', { person_id: this.sn })
    },
    addChildToAdultPerson(person_id) {
      this.$emit('add-child', person_id)
    },
    cancelChildAddition(args) {
      if ( this.sn == args.parent && this.person.childs && this.person.childs[args.child] ) {
        this.person.childs.splice( args.child, 1 )
      }
    },
    changeLatName() {
      var lat_name = this.translate(this.person.name)
      this.person.name_lat = lat_name.toUpperCase();
    },
    changeLatLastname(){
      var lastname_lat = this.translate(this.person.lastname)
      this.person.lastname_lat = lastname_lat.toUpperCase();
    },
    translate(name) {
      var transl=new Array();
      transl['А']='A';     transl['а']='a';
      transl['Б']='B';     transl['б']='b';
      transl['В']='V';     transl['в']='v';
      transl['Г']='G';     transl['г']='g';
      transl['Д']='D';     transl['д']='d';
      transl['Е']='E';     transl['е']='e';
      transl['Ё']='Yo';    transl['ё']='yo';
      transl['Ж']='Zh';    transl['ж']='zh';
      transl['З']='Z';     transl['з']='z';
      transl['И']='I';     transl['и']='i';
      transl['Й']='Y';     transl['й']='y';
      transl['К']='K';     transl['к']='k';
      transl['Л']='L';     transl['л']='l';
      transl['М']='M';     transl['м']='m';
      transl['Н']='N';     transl['н']='n';
      transl['О']='O';     transl['о']='o';
      transl['П']='P';     transl['п']='p';
      transl['Р']='R';     transl['р']='r';
      transl['С']='S';     transl['с']='s';
      transl['Т']='T';     transl['т']='t';
      transl['У']='U';     transl['у']='u';
      transl['Ф']='F';     transl['ф']='f';
      transl['Х']='Kh';    transl['х']='kh';
      transl['Ц']='Ts';    transl['ц']='ts';
      transl['Ч']='Ch';    transl['ч']='ch';
      transl['Ш']='Sh';    transl['ш']='sh';
      transl['Щ']='Sch';   transl['щ']='sch';
      transl['Ъ']="";      transl['ъ']="";
      transl['Ы']='Y';     transl['ы']='y';
      transl['Ь']='';      transl['ь']='';
      transl['Э']='E';     transl['э']='e';
      transl['Ю']='Yu';    transl['ю']='yu';
      transl['Я']='Ya';    transl['я']='ya';

      var name_lat = '';

      for(var i=0;i<name.length;i++) {
          if(transl[name[i]]!=undefined) { name_lat += transl[name[i]]; }
          else { name_lat+=name[i]; }
      }

      return name_lat;
    },
    normalPName( pname ) {
      return pname.substr(0, 1).toUpperCase() + pname.substr(1).toLowerCase()
    },
    normalName(name) {
      var newName = name
                      .replace(/[^а-яА-ЯёЁ-\s]/gim, '')
                      .replace(/\s+/g,' ')
                      .trim()
                      .toLowerCase()
                      .replace(' —', '-')
                      .replace('— ', '-')
                      .replace(' -', '-')
                      .replace('- ', '-')

      newName = newName
                  .split(' ')
                  .map(
                      function(el){
                          var n = el.split('-')
                                      .map(
                                          function(ell){
                                              if ( ell.length == 0 )
                                                  return ell
                                              ell = ell.trim()
                                              return ell.substr(0,1).toUpperCase() + ell.substr(1)
                                          }
                                      ).join("-")
                          return n
                      }
                  )
                  .join(' ')


      console.log(newName)
      return newName
    },
    normalPName( pname ) {
      return pname.substr(0, 1).toUpperCase() + pname.substr(1).toLowerCase()
    }
  },
  mounted() {
    var vm = this

    // $('._bd').mask('99.99.9999')

    $(document).ready(function(){
      $('.phone').mask('+7 (999) 999-9999');
      $('.date').mask('99.99.9999')
    })

  }
}
</script>

<style>

</style>
